body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8951 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u8952 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u8953 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u8954 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8955 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u8956 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8957 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u8958 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8959 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u8960 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8961 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u8962 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8963 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u8964 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8965 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8966 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u8967 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u8968 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8969 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8970 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8971 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8972 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8973 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u8974 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u8975 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u8976 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u8977 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u8978 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8979 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u8980 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8981 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8982 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u8983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u8983 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u8984 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8985 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8986 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u8987 {
  position:absolute;
  left:167px;
  top:29px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u8988 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u8989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:46px;
}
#u8989 {
  position:absolute;
  left:0px;
  top:65px;
  width:413px;
  height:46px;
}
#u8990 {
  position:absolute;
  left:2px;
  top:15px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u8991 {
  position:absolute;
  left:6px;
  top:74px;
  width:39px;
  height:28px;
}
#u8992 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8993 {
  position:absolute;
  left:47px;
  top:80px;
  width:57px;
  height:16px;
}
#u8994 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u8995 {
  position:absolute;
  left:392px;
  top:82px;
  width:10px;
  height:14px;
  font-size:14px;
}
#u8996 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:46px;
}
#u8997 {
  position:absolute;
  left:0px;
  top:111px;
  width:413px;
  height:46px;
}
#u8998 {
  position:absolute;
  left:2px;
  top:15px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:29px;
}
#u8999 {
  position:absolute;
  left:5px;
  top:120px;
  width:39px;
  height:28px;
}
#u9000 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9001 {
  position:absolute;
  left:46px;
  top:126px;
  width:29px;
  height:16px;
}
#u9002 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u9003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u9003 {
  position:absolute;
  left:391px;
  top:128px;
  width:10px;
  height:14px;
  font-size:14px;
}
#u9004 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:46px;
}
#u9005 {
  position:absolute;
  left:0px;
  top:167px;
  width:413px;
  height:46px;
}
#u9006 {
  position:absolute;
  left:2px;
  top:15px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9007 {
  position:absolute;
  left:178px;
  top:182px;
  width:57px;
  height:16px;
}
#u9008 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u9009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9009 {
  position:absolute;
  left:355px;
  top:127px;
  width:33px;
  height:16px;
}
#u9010 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u9011 {
  position:absolute;
  left:0px;
  top:27px;
  width:81px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
