body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8080 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u8081 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(226, 106, 26, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8082 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u8083 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8084 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u8085 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8086 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u8087 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8088 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u8089 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8090 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u8091 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8092 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u8093 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8094 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8095 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u8096 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u8097 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8098 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8099 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8100 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8101 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8102 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u8103 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u8104 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u8105 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u8106 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u8107 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8108 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u8109 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8110 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8111 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u8112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u8112 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u8113 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(226, 106, 26, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8114 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8115 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8116 {
  position:absolute;
  left:14px;
  top:155px;
  width:393px;
  height:40px;
}
#u8116_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(207, 209, 210, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8116.selected {
}
#u8116_div.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u8116.disabled {
}
#u8117 {
  position:absolute;
  left:2px;
  top:12px;
  width:389px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8118 {
  position:absolute;
  left:66px;
  top:158px;
  width:332px;
  height:33px;
}
#u8118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:33px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u8119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:40px;
}
#u8119 {
  position:absolute;
  left:12px;
  top:203px;
  width:394px;
  height:40px;
  font-size:18px;
  color:#FFFFFF;
}
#u8120 {
  position:absolute;
  left:2px;
  top:9px;
  width:390px;
  word-wrap:break-word;
}
#u8121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8121 {
  position:absolute;
  left:107px;
  top:75px;
  width:201px;
  height:24px;
  font-size:20px;
}
#u8122 {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  white-space:nowrap;
}
#u8123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8123 {
  position:absolute;
  left:20px;
  top:167px;
  width:29px;
  height:16px;
}
#u8124 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8125 {
  position:absolute;
  left:69px;
  top:258px;
  width:277px;
  height:16px;
}
#u8126 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
