body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5720 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u5721 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u5722 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u5723 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5724 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u5725 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5726 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u5727 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5728 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u5729 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5730 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u5731 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5732 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u5733 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5734 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5735 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u5736 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u5737 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5738 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5739 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5740 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5741 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5742 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u5743 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u5744 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u5745 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u5746 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u5747 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5748 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u5749 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5750 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5751 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u5752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u5752 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u5753 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5754 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5755 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5756 {
  position:absolute;
  left:167px;
  top:29px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u5757 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5758 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:66px;
}
#u5759 {
  position:absolute;
  left:1px;
  top:65px;
  width:413px;
  height:66px;
}
#u5760 {
  position:absolute;
  left:2px;
  top:25px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5761_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u5761 {
  position:absolute;
  left:352px;
  top:78px;
  width:40px;
  height:40px;
}
#u5762 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5763_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:20px;
}
#u5763 {
  position:absolute;
  left:392px;
  top:89px;
  width:10px;
  height:20px;
  font-size:14px;
}
#u5764 {
  position:absolute;
  left:2px;
  top:2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5765 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:46px;
}
#u5766 {
  position:absolute;
  left:1px;
  top:131px;
  width:413px;
  height:46px;
}
#u5767 {
  position:absolute;
  left:2px;
  top:15px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5768 {
  position:absolute;
  left:8px;
  top:146px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5769 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u5770 {
  position:absolute;
  left:392px;
  top:148px;
  width:10px;
  height:14px;
  font-size:14px;
}
#u5771 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5772 {
  position:absolute;
  left:347px;
  top:146px;
  width:43px;
  height:16px;
  color:#666666;
}
#u5773 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5774 {
  position:absolute;
  left:12px;
  top:90px;
  width:29px;
  height:16px;
  color:#000000;
}
#u5775 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5776 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5777_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:46px;
}
#u5777 {
  position:absolute;
  left:0px;
  top:177px;
  width:413px;
  height:46px;
}
#u5778 {
  position:absolute;
  left:2px;
  top:15px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5779_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5779 {
  position:absolute;
  left:7px;
  top:192px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5780 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u5781 {
  position:absolute;
  left:391px;
  top:194px;
  width:10px;
  height:14px;
  font-size:14px;
}
#u5782 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5783_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#666666;
}
#u5783 {
  position:absolute;
  left:298px;
  top:192px;
  width:90px;
  height:16px;
  color:#666666;
}
#u5784 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5785 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:46px;
}
#u5786 {
  position:absolute;
  left:0px;
  top:225px;
  width:413px;
  height:46px;
}
#u5787 {
  position:absolute;
  left:2px;
  top:15px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5788_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
}
#u5788 {
  position:absolute;
  left:7px;
  top:240px;
  width:57px;
  height:16px;
  color:#000000;
}
#u5789 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:14px;
}
#u5790 {
  position:absolute;
  left:391px;
  top:242px;
  width:10px;
  height:14px;
  font-size:14px;
}
#u5791 {
  position:absolute;
  left:2px;
  top:-1px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
