body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:593px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8631_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8631 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u8632 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u8633 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u8634 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8635 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u8636 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8637_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8637 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u8638 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8639_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8639 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u8640 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8641 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u8642 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u8643 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u8644 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8645_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8645 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8646 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u8647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u8647 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u8648 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8649_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8649 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8650 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8651 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8652 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u8653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u8653 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u8654 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u8655 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u8656 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u8657 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u8658 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u8659 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u8660 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u8661 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u8662 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u8663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u8663 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u8664 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u8665 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u8666 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u8667_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u8667 {
  position:absolute;
  left:177px;
  top:27px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u8668 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8669_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u8669 {
  position:absolute;
  left:443px;
  top:264px;
  width:150px;
  height:150px;
}
#u8670 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u8671 {
  position:absolute;
  left:0px;
  top:107px;
  width:414px;
  height:628px;
  overflow:hidden;
}
#u8671_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:628px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8671_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8672 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:696px;
  overflow:hidden;
}
#u8672_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:696px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8672_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8673 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:869px;
  overflow:hidden;
  touch-action:none;
}
#u8673_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:869px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8673_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8674_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8674 {
  position:absolute;
  left:9px;
  top:40px;
  width:384px;
  height:143px;
}
#u8675 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8676 {
  position:absolute;
  left:9px;
  top:156px;
  width:384px;
  height:27px;
}
#u8677 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8678_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8678 {
  position:absolute;
  left:9px;
  top:244px;
  width:384px;
  height:143px;
}
#u8679 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8680 {
  position:absolute;
  left:9px;
  top:360px;
  width:384px;
  height:27px;
}
#u8681 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8682_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8682 {
  position:absolute;
  left:13px;
  top:445px;
  width:384px;
  height:143px;
}
#u8683 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8684 {
  position:absolute;
  left:13px;
  top:561px;
  width:384px;
  height:27px;
}
#u8685 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8686 {
  position:absolute;
  left:13px;
  top:19px;
  width:29px;
  height:16px;
}
#u8687 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8688 {
  position:absolute;
  left:334px;
  top:15px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u8689 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8690_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8690 {
  position:absolute;
  left:345px;
  top:218px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u8691 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8692_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8692 {
  position:absolute;
  left:350px;
  top:419px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u8693 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8694 {
  position:absolute;
  left:10px;
  top:223px;
  width:29px;
  height:1px;
}
#u8695 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8696 {
  position:absolute;
  left:13px;
  top:422px;
  width:29px;
  height:1px;
}
#u8697 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8671_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:628px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8671_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8698 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:696px;
  overflow:hidden;
}
#u8698_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:696px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8698_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8699 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:869px;
  overflow:hidden;
  touch-action:none;
}
#u8699_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:869px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8699_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8700 {
  position:absolute;
  left:10px;
  top:64px;
  width:384px;
  height:143px;
}
#u8701 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8702 {
  position:absolute;
  left:10px;
  top:180px;
  width:384px;
  height:27px;
}
#u8703 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8704 {
  position:absolute;
  left:10px;
  top:268px;
  width:384px;
  height:143px;
}
#u8705 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8706 {
  position:absolute;
  left:10px;
  top:384px;
  width:384px;
  height:27px;
}
#u8707 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8708 {
  position:absolute;
  left:14px;
  top:469px;
  width:384px;
  height:143px;
}
#u8709 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8710 {
  position:absolute;
  left:14px;
  top:585px;
  width:384px;
  height:27px;
}
#u8711 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8712 {
  position:absolute;
  left:14px;
  top:43px;
  width:29px;
  height:16px;
}
#u8713 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8714_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8714 {
  position:absolute;
  left:335px;
  top:39px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u8715 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8716 {
  position:absolute;
  left:346px;
  top:242px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u8717 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8718 {
  position:absolute;
  left:351px;
  top:443px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u8719 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8720_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8720 {
  position:absolute;
  left:10px;
  top:252px;
  width:29px;
  height:16px;
}
#u8721 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8722 {
  position:absolute;
  left:14px;
  top:453px;
  width:29px;
  height:16px;
}
#u8723 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8671_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:628px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8671_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8724 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:696px;
  overflow:hidden;
}
#u8724_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:696px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8724_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8725 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:869px;
  overflow:hidden;
  touch-action:none;
}
#u8725_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:869px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u8725_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8726 {
  position:absolute;
  left:10px;
  top:64px;
  width:384px;
  height:143px;
}
#u8727 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8728_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8728 {
  position:absolute;
  left:10px;
  top:180px;
  width:384px;
  height:27px;
}
#u8729 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8730 {
  position:absolute;
  left:10px;
  top:268px;
  width:384px;
  height:143px;
}
#u8731 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8732_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8732 {
  position:absolute;
  left:10px;
  top:384px;
  width:384px;
  height:27px;
}
#u8733 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8734_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:143px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8734 {
  position:absolute;
  left:14px;
  top:469px;
  width:384px;
  height:143px;
}
#u8735 {
  position:absolute;
  left:2px;
  top:64px;
  width:380px;
  word-wrap:break-word;
}
#u8736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8736 {
  position:absolute;
  left:14px;
  top:585px;
  width:384px;
  height:27px;
}
#u8737 {
  position:absolute;
  left:2px;
  top:6px;
  width:380px;
  word-wrap:break-word;
}
#u8738_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8738 {
  position:absolute;
  left:14px;
  top:43px;
  width:29px;
  height:16px;
}
#u8739 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8740 {
  position:absolute;
  left:335px;
  top:39px;
  width:57px;
  height:16px;
  color:#FF0000;
}
#u8741 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u8742_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8742 {
  position:absolute;
  left:346px;
  top:242px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u8743 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u8744 {
  position:absolute;
  left:351px;
  top:443px;
  width:43px;
  height:16px;
  color:#FF0000;
}
#u8745 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u8746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8746 {
  position:absolute;
  left:10px;
  top:252px;
  width:29px;
  height:16px;
}
#u8747 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8748_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8748 {
  position:absolute;
  left:14px;
  top:453px;
  width:29px;
  height:16px;
}
#u8749 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u8750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
}
#u8750 {
  position:absolute;
  left:0px;
  top:63px;
  width:138px;
  height:44px;
}
#u8750_img.selected {
}
#u8750.selected {
}
#u8751 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u8752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
}
#u8752 {
  position:absolute;
  left:138px;
  top:63px;
  width:138px;
  height:44px;
}
#u8752_img.selected {
}
#u8752.selected {
}
#u8753 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u8754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:44px;
}
#u8754 {
  position:absolute;
  left:276px;
  top:63px;
  width:138px;
  height:44px;
}
#u8754_img.selected {
}
#u8754.selected {
}
#u8755 {
  position:absolute;
  left:2px;
  top:14px;
  width:134px;
  word-wrap:break-word;
}
#u8756 {
  position:absolute;
  left:0px;
  top:27px;
  width:81px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
