body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1154 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u1156 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u1157 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1158 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u1159 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1160 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1162 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u1163 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1164 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u1165 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1166 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1168 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1169 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u1170 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u1171 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1172 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1173 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1174 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1175 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1176 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u1177 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u1178 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u1180 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u1181 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1182 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u1183 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u1184 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u1185 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u1186 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1188 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u1190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u1190 {
  position:absolute;
  left:177px;
  top:29px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u1191 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:671px;
}
#u1192 {
  position:absolute;
  left:0px;
  top:64px;
  width:413px;
  height:671px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:328px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1194 {
  position:absolute;
  left:0px;
  top:27px;
  width:81px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
