body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:438px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3808 {
  position:absolute;
  left:24px;
  top:25px;
  width:414px;
  height:736px;
}
#u3809 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u3810 {
  position:absolute;
  left:24px;
  top:25px;
  width:414px;
  height:65px;
  color:#000000;
}
#u3811 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3812 {
  position:absolute;
  left:30px;
  top:31px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u3813 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3814 {
  position:absolute;
  left:37px;
  top:31px;
  width:6px;
  height:6px;
}
#u3815 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3816 {
  position:absolute;
  left:44px;
  top:31px;
  width:6px;
  height:6px;
}
#u3817 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3818 {
  position:absolute;
  left:51px;
  top:31px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u3819 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u3820 {
  position:absolute;
  left:58px;
  top:31px;
  width:6px;
  height:6px;
}
#u3821 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3822 {
  position:absolute;
  left:66px;
  top:27px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3823 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u3824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u3824 {
  position:absolute;
  left:120px;
  top:28px;
  width:15px;
  height:11px;
}
#u3825 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3826 {
  position:absolute;
  left:207px;
  top:27px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3827 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3828 {
  position:absolute;
  left:232px;
  top:27px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3829 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u3830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3830 {
  position:absolute;
  left:349px;
  top:29px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u3831 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u3832 {
  position:absolute;
  left:408px;
  top:29px;
  width:22px;
  height:10px;
}
#u3833 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u3834 {
  position:absolute;
  left:333px;
  top:31px;
  width:5px;
  height:6px;
}
#u3835 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3836 {
  position:absolute;
  left:363px;
  top:29px;
  width:10px;
  height:10px;
}
#u3837 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u3838 {
  position:absolute;
  left:379px;
  top:27px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u3839 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u3840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u3840 {
  position:absolute;
  left:37px;
  top:57px;
  width:12px;
  height:22px;
}
#u3841 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3842_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u3842 {
  position:absolute;
  left:56px;
  top:57px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u3843 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u3844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
}
#u3844 {
  position:absolute;
  left:398px;
  top:57px;
  width:30px;
  height:20px;
  color:#FFFFFF;
}
#u3845 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u3846 {
  position:absolute;
  left:201px;
  top:54px;
  width:61px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u3847 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3848 {
  position:absolute;
  left:23px;
  top:90px;
  width:208px;
  height:35px;
}
#u3849 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u3850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3850 {
  position:absolute;
  left:230px;
  top:90px;
  width:208px;
  height:35px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:10px;
  width:204px;
  word-wrap:break-word;
}
#u3852 {
  position:absolute;
  left:24px;
  top:125px;
  width:414px;
  height:636px;
  overflow:hidden;
}
#u3852_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:636px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3852_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3853_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3853 {
  position:absolute;
  left:40px;
  top:12px;
  width:43px;
  height:16px;
}
#u3854 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3855 {
  position:absolute;
  left:40px;
  top:38px;
  width:43px;
  height:1px;
}
#u3856 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3857 {
  position:absolute;
  left:93px;
  top:12px;
  width:29px;
  height:16px;
}
#u3858 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3859 {
  position:absolute;
  left:93px;
  top:38px;
  width:29px;
  height:16px;
}
#u3860 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3861 {
  position:absolute;
  left:257px;
  top:17px;
  width:29px;
  height:16px;
}
#u3862 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3863 {
  position:absolute;
  left:257px;
  top:38px;
  width:29px;
  height:16px;
}
#u3864 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3865 {
  position:absolute;
  left:122px;
  top:9px;
  width:67px;
  height:22px;
}
#u3865_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3865_input:disabled {
  color:grayText;
}
#u3866 {
  position:absolute;
  left:122px;
  top:41px;
  width:67px;
  height:22px;
}
#u3866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3866_input:disabled {
  color:grayText;
}
#u3867 {
  position:absolute;
  left:286px;
  top:10px;
  width:67px;
  height:22px;
}
#u3867_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3867_input:disabled {
  color:grayText;
}
#u3868 {
  position:absolute;
  left:286px;
  top:37px;
  width:67px;
  height:22px;
}
#u3868_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3868_input:disabled {
  color:grayText;
}
#u3869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3869 {
  position:absolute;
  left:151px;
  top:87px;
  width:140px;
  height:40px;
}
#u3870 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3852_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:636px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3852_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3871 {
  position:absolute;
  left:40px;
  top:12px;
  width:43px;
  height:16px;
}
#u3872 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:1px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3873 {
  position:absolute;
  left:40px;
  top:88px;
  width:43px;
  height:1px;
}
#u3874 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3875 {
  position:absolute;
  left:93px;
  top:12px;
  width:29px;
  height:16px;
}
#u3876 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3877 {
  position:absolute;
  left:257px;
  top:17px;
  width:29px;
  height:16px;
}
#u3878 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3879 {
  position:absolute;
  left:257px;
  top:88px;
  width:29px;
  height:16px;
}
#u3880 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3881 {
  position:absolute;
  left:122px;
  top:9px;
  width:67px;
  height:22px;
}
#u3881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3881_input:disabled {
  color:grayText;
}
#u3882 {
  position:absolute;
  left:286px;
  top:10px;
  width:67px;
  height:22px;
}
#u3882_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3882_input:disabled {
  color:grayText;
}
#u3883 {
  position:absolute;
  left:286px;
  top:87px;
  width:67px;
  height:22px;
}
#u3883_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3883_input:disabled {
  color:grayText;
}
#u3884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3884 {
  position:absolute;
  left:145px;
  top:154px;
  width:140px;
  height:40px;
}
#u3885 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u3886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3886 {
  position:absolute;
  left:93px;
  top:44px;
  width:29px;
  height:16px;
}
#u3887 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3888 {
  position:absolute;
  left:122px;
  top:41px;
  width:67px;
  height:22px;
}
#u3888_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3888_input:disabled {
  color:grayText;
}
#u3889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3889 {
  position:absolute;
  left:93px;
  top:86px;
  width:29px;
  height:16px;
}
#u3890 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3891 {
  position:absolute;
  left:122px;
  top:83px;
  width:67px;
  height:22px;
}
#u3891_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3891_input:disabled {
  color:grayText;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3892 {
  position:absolute;
  left:93px;
  top:118px;
  width:29px;
  height:16px;
}
#u3893 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3894 {
  position:absolute;
  left:122px;
  top:115px;
  width:67px;
  height:22px;
}
#u3894_input {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3894_input:disabled {
  color:grayText;
}
#u3895 {
  position:absolute;
  left:24px;
  top:52px;
  width:100px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
