body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:414px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5792_div {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
  background:inherit;
  background-color:rgba(204, 204, 204, 0.698039215686274);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5792 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:736px;
}
#u5793 {
  position:absolute;
  left:2px;
  top:360px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
}
#u5794 {
  position:absolute;
  left:0px;
  top:0px;
  width:414px;
  height:65px;
  color:#000000;
}
#u5795 {
  position:absolute;
  left:2px;
  top:24px;
  width:410px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5796 {
  position:absolute;
  left:6px;
  top:6px;
  width:6px;
  height:6px;
  font-family:'Arial Oblique', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:oblique;
  color:#FFFFFF;
}
#u5797 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5798 {
  position:absolute;
  left:13px;
  top:6px;
  width:6px;
  height:6px;
}
#u5799 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5800 {
  position:absolute;
  left:20px;
  top:6px;
  width:6px;
  height:6px;
}
#u5801 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5802 {
  position:absolute;
  left:27px;
  top:6px;
  width:6px;
  height:6px;
  font-size:6px;
  color:#FFFFFF;
}
#u5803 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u5804 {
  position:absolute;
  left:34px;
  top:6px;
  width:6px;
  height:6px;
}
#u5805 {
  position:absolute;
  left:2px;
  top:-5px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5806 {
  position:absolute;
  left:42px;
  top:2px;
  width:49px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5807 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u5808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:11px;
}
#u5808 {
  position:absolute;
  left:96px;
  top:3px;
  width:15px;
  height:11px;
}
#u5809 {
  position:absolute;
  left:2px;
  top:-2px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5810 {
  position:absolute;
  left:183px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5811 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5812_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5812 {
  position:absolute;
  left:208px;
  top:2px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5813 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u5814 {
  position:absolute;
  left:325px;
  top:4px;
  width:9px;
  height:9px;
  color:#FFFFFF;
}
#u5815 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:10px;
}
#u5816 {
  position:absolute;
  left:384px;
  top:4px;
  width:22px;
  height:10px;
}
#u5817 {
  position:absolute;
  left:2px;
  top:-3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:6px;
}
#u5818 {
  position:absolute;
  left:309px;
  top:6px;
  width:5px;
  height:6px;
}
#u5819 {
  position:absolute;
  left:2px;
  top:-5px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u5820 {
  position:absolute;
  left:339px;
  top:4px;
  width:10px;
  height:10px;
}
#u5821 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FFFFFF;
}
#u5822 {
  position:absolute;
  left:355px;
  top:2px;
  width:26px;
  height:15px;
  font-size:12px;
  color:#FFFFFF;
}
#u5823 {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  white-space:nowrap;
}
#u5824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:22px;
}
#u5824 {
  position:absolute;
  left:13px;
  top:32px;
  width:12px;
  height:22px;
}
#u5825 {
  position:absolute;
  left:2px;
  top:3px;
  width:8px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:19px;
  background:inherit;
  background-color:rgba(102, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u5826 {
  position:absolute;
  left:32px;
  top:32px;
  width:33px;
  height:19px;
  font-size:16px;
  color:#FFFFFF;
}
#u5827 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u5828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u5828 {
  position:absolute;
  left:167px;
  top:29px;
  width:81px;
  height:24px;
  font-size:20px;
  color:#FFFFFF;
}
#u5829 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u5830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:44px;
}
#u5830 {
  position:absolute;
  left:1px;
  top:116px;
  width:413px;
  height:44px;
}
#u5831 {
  position:absolute;
  left:2px;
  top:14px;
  width:409px;
  word-wrap:break-word;
}
#u5832 {
  position:absolute;
  left:1px;
  top:65px;
  width:413px;
  height:51px;
}
#u5832_input {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:51px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u5833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5833 {
  position:absolute;
  left:4px;
  top:164px;
  width:198px;
  height:16px;
}
#u5834 {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  white-space:nowrap;
}
